html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
}

.navbar {
  padding 1rem;
  background-color: black;
}

.btn-primary:hover {
  background-color: black;
  color: white;
}

.hero-background-img {
  background-image: url("images/s-class.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top:400px;
  padding-bottom:400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #000000;
}

.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 1.2;
  color: white;
}
